.info_section {
    background: url(../img/bg.jpg) no-repeat center center/cover;
    height: 500px;
    position: relative;
    @media (max-width: 990px) {
        height: auto;
    }
    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .4);
    }
    .container {
        height: 100%;
        @media (max-width: 990px) {
            padding-top: 140px;
        }
    }
    .info_section_wrap {
        height: 100%;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        justify-content: space-between;
        position: relative;
        z-index: 9;
        padding-bottom: 50px;
        @media (max-width: 990px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            padding-bottom: 30px;
        }
        .info_section_text {
            max-width: 600px;
            @media (max-width: 990px) {
                margin-bottom: 20px;
            }
            .info_title {
                color: #fff;
                margin-bottom: 20px;
                font: 500 1.5rem 'Roboto', sans-serif;
                @media (max-width: 990px) {
                    margin-bottom: 15px;
                    font: 500 1.25rem 'Roboto', sans-serif;
                }
            }
            .info_text {
                font: 400 1rem/24px 'Roboto', sans-serif;
                color: #fff;
                @media (max-width: 990px) {
                    font: 400 .9rem/21px 'Roboto', sans-serif;
                }
            }
        }
    }
    .info_section_icons {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-left: 40px;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        @media (max-width: 990px) {
            padding: 0;
            border: none;
        }
        .info_icons_box {
            display: grid;
            grid-template-columns: 30px 1fr;
            grid-gap: 20px;
            img {
                height: 30px;
            }
        }
        .info_icons_box_text {
            .icons_title {
                color: #fff;
                margin-bottom: 5px;
                font: 500 1.125rem 'Roboto', sans-serif;
            }
            .icons_text {
                font: 400 .95rem/22px 'Roboto', sans-serif;
                color: #fff;
            }
        }
    }
}